body {
    background-color: #ffffff;
    color: #666666;
}

header {
    background-color: #00b386;
    color: #ffffff;
}

h1 {
    margin-bottom: 0;
}

nav {
    background-color: #70dbdb;
}

h2 {
    color: #00664d;
}

dt {
    color: #00664d;
}

.barn {
    color: #70dbdb;
}